@media screen and (max-width: 690px) and (min-width: 200px) {
    
    .line {
        display:none;
    }
    
    img.banner {
        display:none;
    }
    
    .col-sm-2 {
        display:none;
    }
    
    .carousel-control-prev {
        display:none;
    }
    
    .carousel-control-next {
        display:none;
    }
    
    .mtext {
        display:none;
    }
    
    img.toggle_menu {
        float: right;
        margin-right: 10px;
        margin-top: -100px;
    }
    
    .copyright_text {
       display:none;
    }
    
    .taital_main {
    width: 100%;
    margin-top: -80px;
}

.construction_text {
    margin-top: 120px;
    width: 100%;
    float: left;
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
}

.building_text {
    margin-top: 35px;
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.lorem_text {
    margin-top: 35px;
    width: 100%;
    float: left;
    font-size: 26px;
    color: #ffffff;
    margin-left: 0px;
}

}


@media (max-width:700) {
    
      .last {
        display: none;
    }
    .carousel-caption {
        display: none;
    }
    .header {
        padding-top: 0px;
    }
    .logo {
        float: inherit;
        padding-bottom: 15px;
        text-align: center;
    }
    .btn-primary {
        max-width: 126px;
        margin-right: 2px;
        font-size: 14px;
    }
    .banner-main .carousel-caption h1 {
        font-size: 30px;
        line-height: 38px;
    }
    .titlepage h2 {
        font-size: 27px;
    }
    .sporrt_text {
        font-size: 23px;
        margin-top: 0px;
    }
    .main {
        width: 30%;
    }
    .btn_main {
        margin-top: 30px;
        padding-bottom: 30px;
        width: 55%;
    }
    #main_slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }
    #main_slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }
    .titlepage h2::after {
        width: 93%;
    }
    .about-box .titlepage h2::after {
        width: 238px;
        right: -50px;
    }
    .Gallery .titlepage h2 {
        font-size: 47px;
    }
    .Gallery .titlepage h2::after {
        width: 89%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
        padding-left: 15px;
    }
    .Nursery-img .text-box h3 {
        font-size: 23px;
        padding: 30px 14px;
    }
    .contact .titlepage h2::after {
        left: -8px;
        width: 281px;
    }
    .footer .headinga span {
        font-size: 16px;
    }
    .menu-bottom {
        margin-bottom: 45px;
    }
    ul.link li {
        padding: 8px 12px;
        padding-bottom: 0px;
    }
    .logo {
        position: inherit;
        left: -40px;
    }
    .round {
        display: none;
    }
    .line {
        display: none;
    }
    .number_text {
        display: none;
    }
    .building_text {
        display: none;
    }
    .menu_text li {
        display: none;
    }
    .toggle_menu {
        top: -68px;
        position: relative;
        left: 240px;
    }
    .menu_text {
        height: 0px;
    }
    .construction_text {
        font-size: 30px;
    }
    .lorem_text {
        display: none;
    }
    .taital_main {
        margin-top: 30px;
    }
    .contact_bt {
        display: none;
    }
    .get_bt {
        display: none;
    }
    #carouselExampleIndicators a.carousel-control-prev {
        left: -2%;
        top: 225px;
    }
    #carouselExampleIndicators a.carousel-control-next {
        left: 0%;
        top: 300px;
}


@media (max-width: 1000px) {
    

}


